@media screen and (max-width: 1140px) {
    
    .play-list-item {
        width: 30%;
    }

    .play-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

@media screen and (max-width: 890px) {

    .play-list-item {
        width: 45%;
    }

    .play-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
}

@media screen and (max-width: 800px) {

    .side-bar {
        display: none;
    }

    .play-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
}

@media screen and (max-width: 510px) {

    .play-list-item {
        width: 100%;
    }

    .play-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

@media screen and (min-width: 509px) {

    .play-list {
        display: flex;
        flex-wrap: wrap;
            
    }

}