@media screen and (max-width: 1140px) {
    
    .play-list-item {
        width: 30%;
    }

}

@media screen and (max-width: 890px) {

    .play-list-item {
        width: 45%;
    }
    
}

@media screen and (max-width: 800px) {

    .side-bar {
        display: none;
    }
    
}